<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mars!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="shortcut icon" href="../static/icons/mars_icon.png">

    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4 text-center" >Mission to Mars</h1>
                <hr class="my-4">
                <button onclick="window.location.href = '/scrape';">Scrape new data</button>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <h2>Mars Facts</h2>
                        {{mars_data[0].mars_table_html|safe}}
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        <h2> Featured Mars Image</h2>
                        <img src={{mars_data[0].featured_image_url}}>
                        <p>{{mars_data[0].featured_image_text}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <h2>Latest Mars News</h2>
                        <h3><a href={{mars_data[0].news_a}} target = "_blank">{{mars_data[0].news_title}}</a></h3>
                        <p>{{mars_data[0].news_p}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h2>Current Weather on Mars</h2>
                        <p>{{mars_data[0].mars_weather}}</p>
                    </div>
                </div>
            </div>
            <div>
                <h2>Mars Hemispheres</h2>
                <table>
                    <tr>
                    {%for hemisphere in mars_data[0].hemisphere_image_urls %}
                        <th>{{hemisphere.title}}</th>
                    {% endfor %}
                    </tr>
                    <tr>
                    {%for hemisphere in mars_data[0].hemisphere_image_urls %}
                        <td><a href="{{hemisphere.img_url}}" target="_blank"><img src={{hemisphere.img_url}} width="307" height="307"></a></td>
                    {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </body>

</html>